<header class="border-b-2 border-light-grey">
  <div class="p-2 max-w-md mx-auto flex justify-end">
    <a class="p-2 border-2 border-black rounded no-underline text-black inline-block hover:text-white hover:bg-black" href="/auth/trello">Login</a>
  </div> 
</header>

<main class="">
  <div class="p-4 mx-auto max-w-md">
    <h1 class="py-4 text-5xl">Trello Activity</h1>
    <p class="py-2">See exactly what your teams have been up to.</p>
    <a class="py-2 text-black" href='/auth/trello'>Login with Trello</a>
  </div>
</main>
