<!DOCTYPE html>
<html lang="en" class="w-full h-full">
<head>
  <meta charset="UTF-8">
  <title></title>
  <%-> css %>
  <%-> js  %>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56074239-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-56074239-4');
</script>
</head>
<body class="w-full h-full">
  
</body>
</html>
