<header class="p-8 text-center">
  <h1 class="p-8 text-5xl">Trello Activity</h1>
</header>
<main class="text-center max-w-md m-auto">
  <p class="p-4">
    Know what you teams are upto at a glance.
  </p>

  <div class="p-4">
    <a 
      class="inline-block p-2 border-2 border-black text-black rounded no-underline hover:bg-black hover:text-white"
      href="https://trello.com/1/authorize?expiration=never&scope=read,write,account&callback_method=fragment&return_url=http://localhost:9292/&response_type=token&name=Trello%20Activity&key=<%= key %>">login</a>
  </div>
</main>
