<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <% organizations.each do |organization| %>
    <p>
      <a href="/organizations/<%= organization.id %>">
        <%= organization.display_name %>
      </a>
    </p>
  <% end %>
</body>
</html>
