  <h2><%= organization.display_name %></h2>

<table>
  <thead>
    <tr>
      <th>Members</th>
      <% organization.boards.each do |board| %>
        <th><%= board.name %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% organization.members.each do |member| %>
      <tr>
        <td><%= member.full_name %></td>

        <% organization.boards.each do |board| %>
          <td><%= member.actions(idModels: board.id).size %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
